@use '../custom' as *;
@use '../components/mix-ins' as *;

.footer{
    @include gradient;
    text-align: center;
    font-weight:600;
    a{
        color: $white;
        i{
            font-size: 2rem;
            margin-left: 1rem;
        }
    }
}