.App {
  margin-top: 40vh;
  text-align: center;
  color: #f7afbd;
  font-size: 10vh;
}
.AboutMe {
  text-align: center;
  color: #f7afbd;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kanna{
  position: absolute;
  bottom: 26vh;
  left: 1vw;
}

.me{
  position: absolute;
  bottom: 25vh;
  right: 1vw;
}
.flowergarden{
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-top: 25vh;
}

@media (max-width: 1024px) {
  .kanna {
    top:57vh;
    left: 2vw;
  }

  .me {
    top: 57vh;
    right: 2vw;
  }

  .flowergarden{
    margin-left: 4vw;
    margin-top: 37vh;
  }
}

/* For small screens (e.g., mobile phones) */
@media (max-width: 768px) {
  .kanna {
    top: 50vh;
    left: 3vw;
  }

  .me {
    top: 50vh;
    right: 3vw;
  }
  .flowergarden{
    margin-left: 4vw;
    margin-top: 43vh;
  }
}

.App-link {
  color: #61dafb;
}

.footer{
  margin-top: -2vh;
}

.cat {
    display: inline-block; /* Makes the div as wide as the content */
    padding: 0; /* Remove any extra padding */
    white-space: pre; /* Preserve spacing in the ASCII art */
    font-family: monospace, fixed; /* Keep the monospace font */
    margin-top: 5vh;
    margin-right: -29vw;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
