body {
  margin: 0;
  padding: 0;
  font-family: "Jacquard 24 Charted", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.starstext{
  font-size: 10px;
}
.test{
  font-family: "Jacquard 12", system-ui;
  color: #f7afbd;
  font-size: 10vh;
}
.blurb{
  font-family: "Cormorant", serif;
  font-size: 1rem;
}

.star-container {
  font-family: monospace, fixed;
  font-weight: bold; /* Base size for small screens */
  font-size: 1vh;
}


.kannaTest{
  font-family: monospace, fixed; 
  font-weight: bold; 
  font-size: 0.5vh
}
.meTest{
  font-family: monospace, fixed; 
  font-weight: bold;
  font-size:0.4vh;
}
.flowerTest{
  font-family: monospace, fixed; 
  font-weight: bold; 
  font-size: 1.6vh
}
@media (max-width: 1024px) {
  .kannaTest {
    font-size:0.5vh;
  }

  .meTest {
    font-size:0.3vh;
  }
  .flowerTest {
    font-size:0.63vh;
  }
  .star-container {
    font-size: 0.8vh;
}
}

/* For small screens (e.g., mobile phones) */
@media (max-width: 768px) {
  .kannaTest {
    font-size:0.4vh;
  }

  .meTest {
    font-size:0.3vh;
  }
  .flowerTest {
    font-size:0.4vh;
  }
  .star-container {
    font-size: 0.4vh; /* Extra large screens */
  }
}

@media (max-width: 391px) {
  .kannaTest {
    font-size:0.4vh;
  }
  .meTest {
    font-size:0.3vh;
  }
  .flowerTest {
    font-size:0.4vh;
  }
  .star-container {
    font-size: 0.3vh; /* Extra large screens */
  }
}
